*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #aaa7a7;
    color: #ffffff;
}
.footer{
    background-color: #414141;
    display: flex;
    justify-content: center;
    padding-top: 13px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
.card{
    background-color: rgb(34, 13, 13);
    color: white;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
}
.card-text-2{
    margin-top: 30px ;
    background-color: #0a0a0a;
    opacity: 50%;
    border-radius: 10px;
}
.submiting{
    border-radius: 10px;
    margin: 5px;
}
